.heading{
   
    text-align: center;
    font-size: 2.3vw;
    font-weight: 400;
    color: #EC8304;
}
.hobbies{
    height: 400px;
    width: 45%;
    border: 2px solid #ccc;
    padding: 20px;
    list-style-type: none;
    background-color: #A9F0B3;
    
}
.list li{
    list-style-type: none;
    font-size: 1.5vw;
    color:#29933C;
    font-weight: 500;
}