.addItems{
    width: 100%;
    margin-bottom: 8px;
}
button{
    margin-left: 5px;
    padding: 1.2px 5px;
    background-color: #292828;
    color: #fff;
    border-radius: 5px;
    border: none;
}
.input{
    border: 1.5px solid #dadada;
    border-radius: 4px;
    outline: none;
    width: 10vw;
    padding-left: 5px;
}
h2{
    font-size: 30px;
    font-weight: 500;
}
.both{
    display: flex;
    justify-content: space-between;
}
.clearChecked{
    background-color: #292828;
    border-radius: 4px ;
    border: none;
}